/*
    Name: Scott Johnson
    Assignment: Module 8.2 - Build a Web Page - Part 6
    Date: February 14th, 2026
*/

/* Header Styles */
header {
    background-color: #3a7ca5;
    color: white;
    padding: 20px;
    text-align: center;
}

h1 {
    font-weight: 400;
}

/* Navbar Styles */
#navbar {
    overflow: hidden;
    background-color: #16425b;
    border-bottom: 15px solid #2f6690;
}

#navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navbar a:hover {
    background-color: #2f6690;
    color: #d9dcd6;
}

/* Container Styles */
#container {
    margin: 2% 5% 100px 5%;
    padding: 10px;
}

/* Card Styles */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 50%;
}

.card-title {
    text-align: center;
    font-size: 2em;
    color: #3a7ca5;
    font-weight: 400;
}

.card-content {
    padding: 2px 16px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Movies Table Styles */
#movies {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 30px;
}

#movies th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
}

#movies td {
    border: 1px solid #ddd;
    padding: 8px;
}

/* Footer Styles */
footer {
    background-color: #3a7ca5;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

footer p {
    color: white;
    font-weight: 400;
    float: right;
    padding-right: 10px;
    font-style: italic;
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    text-decoration: underline;
}