/* Center the h1 title */
h1 {
    text-align: center;
}

/* Side-by-side divs */
.left-div,
.right-div {
    width: 45%;
}

.left-div {
    float: left;
}

.right-div {
    float: right;
}

/* Last (bottom) div */
.bottom-div {
    width: 100%;
    margin-top: 60%;
    float: right;
    margin-bottom: 20px;
}

/* h3 font weight */
h3 {
    font-weight: 500;
}

/* List font weight */
ol,
ul {
    font-weight: 300;
}

/* ORDERED LIST + TITLE (solid red border) */
.left-div h3 {
    border: 1px solid red;
    border-radius: 15px;
    padding: 10px;
}

.left-div ol {
    border: 1px solid red;
    border-radius: 15px;
    padding: 10px;
    list-style-position: inside;
}

/* UNORDERED LIST + TITLE (dashed red border) */
.right-div h3 {
    border: 1px dashed red;
    border-radius: 15px;
    padding: 10px;
}

.right-div ul {
    border: 1px dashed red;
    border-radius: 15px;
    padding: 10px;
    list-style-type: upper-roman;
    list-style-position: inside;
}

/* Link hover effect */
a:hover {
    text-decoration: underline;
}